# Naive Bayes

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("train.csv")

In [4]:
del df["Name"]
del df["PassengerId"]
del df["Age"]
del df["Ticket"]
del df["Cabin"]
del df["Embarked"]
del df["Fare"]

In [5]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch'], dtype='object')

In [6]:
X = df[["Pclass", "Sex", "SibSp", "Parch"]]
y = df.Survived

In [7]:
X.male = 1

In [8]:
X = X.replace("male", 0)
X = X.replace("female", 1)

In [9]:
X.head()

   Pclass  Sex  SibSp  Parch
0       3    0      1      0
1       1    1      1      0
2       3    1      0      0
3       1    1      1      0
4       3    0      0      0

In [ ]:
class NaiveBayes:
    
    def fit(self, X, y):
        self.X = X
        self.y = y